/Parcial 3/CalculadoraGUI/nbproject/private/
/Parcial 3/CalculadoraGUI/build/
/Parcial 3/CalculadoraGUI/dist/
/Parcial 3/CalculadoraServidor/nbproject/private/
/Parcial 3/CalculadoraServidor/build/
/Parcial 3/CalculadoraServidor/dist/